.table.fa {
  table-layout: fixed;
  border-top: 0;
  width: 100%;
}

.tr3 .td3 {
  width: 120px;
}

.rs.td3 {
  text-align: right;
  padding-bottom: .2em;
}

.t10 {
  width: 100%;
}

.dtime{
border-style: none;
border-bottom: 1px dotted;
font-size: 14px;
}